body {
    margin:0;
    padding:0;
    font-family:Arial;
}

h1, h2, h3, h4, h5 , h6 { 
    font-family: Arial; font-weight:normal;
}

a {
    text-decoration:none;
    color:#5993bb;
}

a:hover {
    color:#77b6e2;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}

#subheader {
    background:#ececec;
    color:#444;
    padding:15px 100px;
    overflow:auto;
}

#header .logo {
    font-family: Arial, sans-serif;
    float:left;
    color:#333;
    font-size:45px;
    margin-right:10%;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding: 0px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:10px 0 0 0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px; 
    overflow:hidden;
}

.photo-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.photo-list .item img {
    width:100%;
    margin-bottom:8px;
}

.photo-detail {
    text-align:justify;
}

/*.photo-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}*/

.photo-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.photo-detail h1 {
    margin-bottom:0;
}

.photo-detail h2 {
    margin-top:10px;
}

.neg {
    color:#dc1616;
}






